/* Main.css */
/* .container{ */
/* background-color:  #223232;
} */
.container {
  text-align: center;
  justify-content: center;
}

body {
  background-color: #223232;
}

.search-bar {
  margin-bottom: 20px;
}

li {
  padding: 5px 10px;
  background-color: #333;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

li:hover {

  background-color: #555;

}

.search-input {
  margin-top: 25px;
  border-radius: 2px solid #1995AD;
  width: 50px;
  padding: 2px;
  padding-left: 10px;
  box-shadow: 4px 4px 20px lightseagreen;
}

.search-input:hover {
  box-shadow: 4px 4px 10px darkcyan;
}




.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px;
  /* border-radius: 2px solid black; */
}

.title {
  opacity: 1;
  cursor: pointer;
}

.news-card {
  background-color: #f9f9f9;
  padding: 20px;
  /* border-radius: 4px; */
  border: 3.5px solid green;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  overflow: hidden;
  text-align: justify;
}

.news-card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


.search-bar {
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.search-input:focus {
  border-color: dodgerblue;
}

.tags ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tags li {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.tags li:hover {
  color: dodgerblue;
}

.news-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.news-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.news-card:first-child {
  grid-column: span 3;
  /* Make the first card span all 3 columns */
}

.news-card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.news-card p {
  height: 200px;
  /* Set a fixed height for the paragraph content */
  overflow: hidden;
}

.show-more-button {
  color: white;
  background-color: #223232;
  border: 2px solid white;
  width: 140px;
  height: 40px;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}

.show-more-button:hover {
  background-color: #1a1a1a;
  transform: scale(1.1);
  box-shadow: 0 0 20px lightseagreen;
}